/* REVIEWS */
.reviews {
    padding: 60px 10%;
    background: #0f0f0f;
    text-align: center;
}

.reviews h2 {
    color: #00ff99;
    margin-bottom: 30px;
}

.review-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.review {
    background: #151515;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

.review:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(0, 255, 153, 0.3);
}

.stars {
    color: gold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.review p {
    color: #ccc;
    font-size: 0.95rem;
}

.review span {
    display: block;
    margin-top: 10px;
    color: #00ff99;
    font-size: 0.85rem;
}

.verify-text {
    margin-top: 30px;
    color: #00ff99;
    font-size: 0.9rem;
}
