body {
  animation: flash 0.001s infinite;
}

@keyframes flash {
  0%   { background-color: red; }
  25%  { background-color: yellow; }
  50%  { background-color: blue; }
  75%  { background-color: green; }
  100% { background-color: orange; }
}

#hitler {
    background-color:blue;
    padding: 30px;
    border: 3px solid black;
    border-radius: 30px;
    width: 300px;
    height: 100px;
    padding-top: 10px;
    margin-left: 50%;
}
